.resource-panel {
    width: 140px;
    padding: 15px;
    display: inline-block;
}
.resource-panel .icon {
    display: inline-block;
    padding: 5px 0;
    font-size: 200%;
    text-align: center;
}
.resource-panel .resource-qty {
    font-size: 200%;
}

.discreet {
    font-size: 70%;
    opacity: 0.95;
}
